<!DOCTYPE html>
<html lan="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GitHub First 100</title>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    
    <style type="text/css">
        .col-md-1 {padding: 30px;}
    </style>
</head>

<body class="container">
    <div id="app">
        <div class="page-header">
            <h1>GitHub First 100</h1>
        </div>       
        <div class="row">
            <div class="col-md-2 col-md-offset-5 well well-lg bg-info">
                <span class="glyphicon glyphicon-refresh"></span>
                Loading...
            </div>
        </div>
    </div>

    <script type="text/html" id="user-row">
        <div class="center-block">
            <div>
                <a href='<%= html_url %>' target="_blank">
                    <img src="http://www.gravatar.com/avatar/<%= gravatar_id %>" class="img-circle"/>
                </a>
            </div>
            <div>
                <a href='<%= html_url %>' target="_blank"><%= login %></a>
            </div>        
        </div>
    </script>

    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/underscore/underscore.js"></script>
    <script src="vendor/backbone/backbone.js"></script>

    <script src="app.js"></script>
</body>

</html>
